*{
  box-sizing: content-box;
  --background-color:#151515;
  --background-color-header:#333333;
  --logo-font: 'Passion One';
  --input-font: 'Oswald';
  --link-font: 'Lato';
}

html, body, .root{
  height: 100%;
};
