*{
  box-sizing: content-box;

  --background-page: #333333;
  --background-color:#151515;
  --background-color-header:#333333;
  --background-input: #EFEFEF;
  --background-button: #1877F2;
  --background-post-url: #FFFFFF;
  --post-color: #707070;
  --placeholder-color: #949494;
  --button-text: #FFFFFF;

  --logo-font: 'Passion One';
  --input-font: 'Oswald';
  --link-font: 'Lato';
}

html, body, .root{
  background-color: var(--background-page);
};
